*.iml
.idea

*.pyc

test-reports/*

tests/.pytest_cache/
tests/env_up/logs
tests/oneclient/logs
tests/onedata_fs/logs
tests/performance/logs
tests/gui/logs
tests/gui/upload_files/large_file.txt
tests/mixed/logs
.cache
tests/**/.cache
tests/oneclient/profiling_data/
tests/gui/tmp_files
tests/mixed/cdmi_client/
tests/mixed/onepanel_client/
tests/mixed/oneprovider_client/
tests/mixed/onezone_client/

package
pkg-list.json
docker-build-list.json
docker-build-report.txt
oneprovider_meta/package
oneprovider_meta/oneprovider.spec
oneprovider_meta/oneprovider/DEBIAN/control

.gitmodules

# OSX
.DS_Store

# VSCode
.vscode
