*.iml
.idea

*.pyc
.pytest_cache/

test-reports/*

tests/.pytest_cache/
tests/*/logs
tests/gui/upload_files/large_file.txt
.cache
tests/**/.cache
tests/oneclient/profiling_data/
tests/gui/tmp_files
tests/mixed/cdmi_client/
tests/mixed/onepanel_client/
tests/mixed/oneprovider_client/
tests/mixed/onezone_client/
tests/oneclient/onepanel_client/

package
pkg-list.json
docker-build-list.json
docker-build-report.txt
oneprovider_meta/package
oneprovider_meta/oneprovider.spec
oneprovider_meta/oneprovider/DEBIAN/control

artifacts_dir
sources_info.yaml

.gitmodules

# OSX
.DS_Store

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json


# Emacs
*~
